*{
    margin: 0;
    padding: 0;
}
#section1{
    background-image: url(../project-3/images/billboard.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: auto;
}
#section1 nav{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100px;
}
#section1 nav li{
    float: right;
    list-style-type: none;
    padding: 40px ;
}
#nav-img{
    float: left;
    padding-left: 30px;
}
#section1 nav li a{
    text-decoration: none;
    color: black;
}
#top{
    margin-bottom: 75vh;
}
#bottom{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100px;
    
}
#bottom p{
    font-size: 25px;
    float: left;
    padding: 35px;
    width: 50%;
}
#btn{
    float: right;
    padding: 30px;
    margin-left: 100px;
}
#btn input{
    padding: 10px;
    font-size: 18px;
    border: 0px;
    background-color: #50ccff;
    color: white;
}
#btn input:hover{
    background-color: red;
}
nav ul li:hover{
    background-color:orangered;
    color: white;
    transition: 2s all;
}