body{
    margin: 0;
}
#container{
    background-image: url(../project-3/images/billboard.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
}
.trans-nav, .get-in-touch{
    background-color: rgb(255, 255, 255,0.6);
    width: 100%;
    height: 11vh;
    position: absolute;
}
#trans-nav img,#txt-git{
    float: left;
    padding: 20px;
}
#logo{
    margin-left: 50px;
}
#list-nav,#git-btn{
    float: right;
}
#list-nav{
    padding:28px 250px;
}
#list-nav li{
    float: left;
    list-style-type: none;
    padding-right: 20px;
}
#list-nav li a{
    text-decoration: none;
    color: black;
}
.get-in-touch{
    bottom: 0;
}

#git-btn{
    margin: 18px 50px;
    font-size: 13px;
}
#git-btn input{
     padding: 12px;
     width: 250px;
     color: #fff;
     background-color: #25c4ec;
     border: 0;
     font-size: 16px;
}
